<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
	<configSections>		
		<section name="DisplaySettings" type="setDisplayRes.DisplayConfig, setDisplayRes"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>		
		<!--set duplicated at the end?-->		
		<add key="setWindowModeDuplicated" value="true"/>
		<!--set resolution for duplicated?-->
		<add key="setWindowModeDuplicatedChangeRes" value="true"/>		
	</appSettings>
	<!-- here you can add a Display that you like to set -->
	<!-- get the name by calling the program with parameter "-list" -->
	<!--Example 1-->
	<!--name, workd with every display-->
	<!--
	<DisplaySettings>
		<Displays>
			<Display name="\\.\DISPLAY1" devicestring="" setres="true" width="1280" height="1024" freqhz="60" primary="false"/>
			<Display name="\\.\DISPLAY2" devicestring="" setres="true" width="1280" height="1024" freqhz="60" primary="true"/>
		</Displays>
	</DisplaySettings>
	-->
	<!--Example 2-->
	<!--devicestring, works if a driver is installed - otherwise it will be just "Generic PnP"-->
	<!--
	<DisplaySettings>
		<Displays>
			<Display devicestring="CPC-5500" setres="true" width="1280" height="1024" freqhz="60"/>
			<Display devicestring="LENOVO XY" setres="true" width="1280" height="1024" freqhz="60"/>
		</Displays>
	</DisplaySettings>
	-->
	<!--Example 3 - deviceid-->
	<!--deviceid, depends on the manufacturer of the display device-->
	<!--deviceids look like: "MONITOR\DELA02E\{4d36e96e-e325-11ce-bfc1-08002be10318}\0001"-->
	<!--just use a unique part like "DELA02E"-->
	<!---->
	<!--
	<DisplaySettings>
		<Displays>
			<Display deviceid="WAC1016" setres="true" width="1024" height="768" freqhz="60" primary="true"/>
			<Display deviceid="CYP5500" setres="true" width="1280" height="1024" freqhz="60" primary="false"/>
			<Display deviceid="LEN60AA" setres="true" width="1280" height="1024" freqhz="60" primary="true"/>
		</Displays>
	</DisplaySettings>
	-->
	<DisplaySettings>
		<Displays>
			<Display deviceid="WAC1016" setres="true" width="1024" height="768" freqhz="60" primary="true"/>
			<Display deviceid="CYP5500" setres="true" width="1280" height="1024" freqhz="60" primary="false"/>
			<Display deviceid="LEN60AA" setres="true" width="1280" height="1024" freqhz="60" primary="true"/>
			<Display deviceid="DELA02E" setres="true" width="1920" height="1200" freqhz="60" primary="true"/>			
		</Displays>
	</DisplaySettings>
	<!-- log -->
	<log4net>
		<root>
			<level value="DEBUG"/>
			<!--"DEBUG" or "INFO"-->
			<appender-ref ref="DebugAppender"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
		<!-- Define output appenders -->
		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="${ALLUSERSPROFILE}/ksz/setDisplayRes.log"/>
			<param name="AppendToFile" value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="250KB"/>
			<staticLogFileName value="true"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
</configuration>